[user]
	name = Colin Gemmell
	email = pythonandchips@gmail.com
[diff]
  external = kdiff3
[pager]
  diff =
[merge]
	tool = kdiff3
[core]
	excludesfile = /home/cgemmell/.gitignore
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p

[push]
  default = current
