[submodule "available_bundles/colorschemes"]
	path = available_bundles/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "available_bundles/ack"]
	path = available_bundles/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "available_bundles/vim-rails"]
	path = available_bundles/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "available_bundles/vim-matchit"]
	path = available_bundles/vim-matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "available_bundles/snipmate"]
	path = available_bundles/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "available_bundles/vim-supertab"]
	path = available_bundles/vim-supertab
	url = https://github.com/tsaleh/vim-supertab.git
[submodule "available_bundles/snipmate-snippets"]
	path = available_bundles/snipmate-snippets
	url = https://github.com/scrooloose/snipmate-snippets.git
[submodule "available_bundles/vim-cucumber"]
	path = available_bundles/vim-cucumber
	url = git@github.com:pythonandchips/vim-cucumber.git
[submodule "available_bundles/command-t"]
	path = available_bundles/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "available_bundles/autotag"]
	path = available_bundles/autotag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "available_bundles/vim-coffee-script"]
	path = available_bundles/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "available_bundles/vimclojure"]
	path = available_bundles/vimclojure
	url = https://github.com/jondistad/vimclojure.git
[submodule "available_bundles/fugitive"]
	path = available_bundles/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "available_bundles/conque"]
	path = available_bundles/conque
	url = https://github.com/rson/vim-conque.git
[submodule "available_bundles/gundo"]
	path = available_bundles/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "available_bundles/ruby-refactoring"]
	path = available_bundles/ruby-refactoring
	url = git@github.com:pythonandchips/vim-ruby-refactoring.git
[submodule "available_bundles/abolish"]
	path = available_bundles/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "available_bundles/vim-rake"]
	path = available_bundles/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "available_bundles/vim-ruby"]
	path = available_bundles/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "available_bundles/auto-tag"]
	path = available_bundles/auto-tag
	url = https://github.com/vim-scripts/AutoTag.git
[submodule "available_bundles/simple-commenter"]
  path = available_bundles/simple-commenter
  url = https://github.com/c9s/simple-commenter.vim.git
[submodule "available_bundles/vim-blockle"]
  path = available_bundles/vim-blockle
  url = https://github.com/jgdavey/vim-blockle.git
[submodule "available_bundles/vim-endwise"]
  path = available_bundles/vim-endwise
  url = https://github.com/tpope/vim-endwise.git
[submodule "available_bundles/vim-markdown"]
	path = available_bundles/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "available_bundles/vim-io"]
	path = available_bundles/vim-io
	url = https://github.com/vim-scripts/Io-programming-language-syntax.git
